:root{
	--warning-bg: #fafad2;
	--warning-text: #9F6D00;
	--warning-text-darker: #390700;
	--warning-decorative: #b8860b;
	--warning-border: rgba(159, 109, 0, 0.25);
	--info-bg: #EEF3FA;
	--info-text: #003576;
	--info-text-darker: #001C5D;
	--info-decorative: #1A4F90;
	--info-border: rgba(0, 53, 118, 0.25);
	--success-bg: #eaf2e1;
	--success-text: #326200;
	--success-text-darker: #194900;
	--success-decorative: #3f7b00;
	--success-border: rgba(63, 123, 0, 0.25);
}
.curatescape-panel h3{
	padding-top:12px;
	padding-bottom: 6px;
	border-bottom: 1px solid #e7e7e7;
}
.curatescape-panel svg{
	height: 0.95lh;
	width: 0.95lh;
	vertical-align: text-bottom;
	padding-right: .5lh;
}
/* HIGHLIGHT */
.curatescape-panel span.highlight{
	display: block;
	padding: 0 1lh 0.5lh;
	margin-bottom: 1lh;
	border-radius: 3px;
}
.curatescape-panel span.highlight li svg {
  opacity: .5;
  vertical-align: bottom;
  margin-left: 3px;
  cursor: pointer;
}
/* warning */
.curatescape-panel span.highlight.warning{
	background: var(--warning-bg);
	border: 1px solid var(--warning-border);
}
.curatescape-panel span.highlight.warning svg{
	fill: var(--warning-decorative);
}
span.highlight.warning h3{
	color:var(--warning-text);
	border-bottom-color: var(--warning-decorative);
}
span.highlight.warning a{
	color:var(--warning-text-darker);
}
/* info */
.curatescape-panel span.highlight.info{
	background: var(--info-bg);
	border: 1px solid var(--info-border);
}
.curatescape-panel span.highlight.info svg{
	fill: var(--info-decorative);
}
span.highlight.info h3{
	color:var(--info-text);
	border-bottom-color: var(--info-decorative);
}
span.highlight.info a{
	color:var(--info-text-darker);
}
/* success */
.curatescape-panel span.highlight.success{
	background: var(--success-bg);
	border: 1px solid var(--success-border);
}
.curatescape-panel span.highlight.success svg{
	fill: var(--success-decorative);
}
span.highlight.success h3{
	color:var(--success-text);
	border-bottom-color: var(--success-decorative);
}
span.highlight.success a{
	color:var(--success-text-darker);
}
/* FLASH */
#content #flash .curatescape-warning{
	background-color: var(--warning-bg);
	color:var(--warning-text-darker);
}