[submodule "omeka"]
	path = omeka
	url = https://github.com/omeka/Omeka.git
	fetchRecurseSubmodules = true
[submodule "curatescape_components/themes"]
	path = curatescape_components/themes
	url = https://github.com/CPHDH/theme-curatescape.git
	fetchRecurseSubmodules = true
[submodule "curatescape_components/plugins/CuratescapeJSON"]
	path = curatescape_components/plugins/CuratescapeJSON
	url = https://github.com/CPHDH/CuratescapeJSON.git
	fetchRecurseSubmodules = true
[submodule "curatescape_components/plugins/CuratescapeAdminHelper"]
	path = curatescape_components/plugins/CuratescapeAdminHelper
	url = https://github.com/CPHDH/CuratescapeAdminHelper.git
	fetchRecurseSubmodules = true
[submodule "curatescape_components/plugins/ImageTree"]
	path = curatescape_components/plugins/ImageTree
	url = https://github.com/CPHDH/ImageTree.git
	fetchRecurseSubmodules = true
[submodule "curatescape_components/plugins/TourBuilder"]
	path = curatescape_components/plugins/TourBuilder
	url = https://github.com/CPHDH/TourBuilder.git
	fetchRecurseSubmodules = true
[submodule "curatescape_components/plugins/SuperRss"]
	path = curatescape_components/plugins/SuperRss
	url = https://github.com/CPHDH/SuperRss.git
	fetchRecurseSubmodules = true
[submodule "curatescape_components/plugins/Geolocation"]
	path = curatescape_components/plugins/Geolocation
	url = https://github.com/omeka/plugin-Geolocation.git
	fetchRecurseSubmodules = true
