:root{
	--grid-space-between-images: 8px;
}
.curatescape-image-gallery.gallery-grid{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: calc(0 - var(--grid-space-between-images));
}
.curatescape-image-gallery.gallery-grid .curatescape-image-figure + .curatescape-image-figure{
}
.curatescape-image-gallery.gallery-grid .curatescape-image-figure{
	height: 200px;
	width: calc(33.333% - calc(var(--grid-space-between-images) * 2));
	max-width: 50%;
	object-fit: cover;
	object-position: center;
	margin: 0 calc(var(--grid-space-between-images) / 2) var(--grid-space-between-images) calc(var(--grid-space-between-images) / 2);
	flex-grow: 1;
}
.curatescape-image-gallery.gallery-grid .curatescape-image-figure a,
.curatescape-image-gallery.gallery-grid .curatescape-image-figure a img{
	height: 100%;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
.curatescape-image-gallery.gallery-grid .curatescape-image-figure img{
	object-fit: cover;
	border: 2px solid transparent;
	box-shadow: 0 0 3px rgba(0,0,0,.5);
}
.curatescape-image-gallery.gallery-grid .curatescape-image-figure img.fallback{
	object-fit: contain;
	background: #f4f4f4;
}
.curatescape-image-gallery.gallery-grid .curatescape-image-figure .portrait img{
	object-position: center 20%;
}
.curatescape-image-gallery.gallery-grid .curatescape-image-figure > figcaption{
	visibility: hidden;
	position: absolute;
}
@container gallerycontainer (width < 720px){
	.curatescape-image-gallery.gallery-grid .curatescape-image-figure{
		width: calc(50% - calc(var(--grid-space-between-images) * 2));
		max-width: 100%;
	}
}
@container gallerycontainer (width < 500px){
	.curatescape-image-gallery.gallery-grid .curatescape-image-figure{
		height: 120px;
	}
}