.curatescape-image-gallery.gallery-inline-captions .curatescape-image-figure + .curatescape-image-figure{
	margin-top: 1rem;
	padding-top: 1rem;
}
.curatescape-image-gallery.gallery-inline-captions .curatescape-image-figure{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.curatescape-image-gallery.gallery-inline-captions .curatescape-image-figure > figcaption{
	flex-grow: 0;
	width: 40%;
	text-align: left;
}
.curatescape-image-gallery.gallery-inline-captions .curatescape-image-figure > figcaption > *{
	display: inline;
}
.curatescape-image-gallery.gallery-inline-captions .curatescape-image-figure > a{
	width: calc(60% - 1rem);
	padding-right: 1rem;
}
.curatescape-image-gallery.gallery-inline-captions .curatescape-image-figure img{
	width: 100% !important;
	height: auto !important;
	max-height: 60vh;
	object-fit: cover;
	object-position: center center;
	border: 2px solid transparent;
	box-shadow: 0 0 3px rgba(0,0,0,.5);
}
.curatescape-image-gallery.gallery-inline-captions .curatescape-image-figure .portrait img{
	object-position: center 20%;
}
@container gallerycontainer (width < 720px){
	.curatescape-image-gallery.gallery-inline-captions .curatescape-image-figure{
		flex-direction: column;
	}
	.curatescape-image-gallery.gallery-inline-captions .curatescape-image-figure > figcaption{
		width: 100%;
		margin-bottom: 1rem;
		margin-top: 0.5rem;
	}
	.curatescape-image-gallery.gallery-inline-captions .curatescape-image-figure > a{
		width: 100%;
		padding-right: 0;
	}
	.curatescape-image-gallery.gallery-inline-captions .curatescape-image-figure img{
		max-height: 70vh;
		object-fit: cover;
	}
}