#tours.browse .tour a.image{
	float: left;
	margin-right: 1lh;
	margin-bottom: 1lh;
}
#tours.browse .tour{
	clear: both;
}
.tour-item-count{
	display: inline-flex;
}
.tour-item-count::before{
	content: '(';
}
.tour-item-count::after{
	content: ')';
}
.tour-item,
.tour-colophon{
	clear: both;
	display: block;
}
.tour-colophon{
	font-style: italic;
	margin-top: 2lh;
}
