

/*{{{ general playlist settings, light gray */
.playlist {

	position:relative;
	overflow:hidden;	 	
	/*height:20px !important;*/
}

.playlist .clips {	
	position:absolute;
	height:20000em;
}

.playlist, .clips {
	width:476px;
	margin-bottom: 15px;
}

.clips a {
	display:block;
	padding:5px;
	height:auto;
	width:100%;
	font-size:12px;
	/*border:1px outset #ccc;*/		
	text-decoration:none;
	/*letter-spacing:-1px;*/
	color:#000;
	/*cursor:pointer;*/
	float:left;
}

.clips a.first {
	border-top-width:1px;
	width:100%
}
.clips h3 {padding:10px 0; margin:10px 0 0 15px;}

.clips a.playing, .clips a.paused, .clips a.progress {
	/*background:url(/img/playlist/light.png) no-repeat 0px -69px;*/
	width:100%;
	border:0;
	color:#000;
}
		
.clips a.progress {
	opacity:0.6;		
}

.clips a.paused {
	background-position:0 0;	
}

.clips a span {
	display:block;		
	font-size:11px;
	color:#666;
}

.clips a em {
	font-style:normal;
	color:#f00;
}	

.clips a:hover {
	/*background-color:#f9f9fa;	*/	
}

.clips a.playing:hover, .clips a.paused:hover, .clips a.progress:hover {
	/*background-color:transparent !important;		 */
}
/*}}}*/


/*{{{ petrol colored */

.clips.petrol a {
	background-color:#193947;
	color:#fff;
	border:1px outset #193947;
}

.clips.petrol a.playing, .clips.petrol a.paused, .clips.petrol a.progress {
	background:url(/img/playlist/dark.png) no-repeat 0px -69px;
	border:0;
}

.clips.petrol a.paused {
	background-position:0 0;	
}

.clips.petrol a span {
	color:#aaa;
}

.clips.petrol a em {
	color:#FCA29A;
	font-weight:bold;
}	

.clips.petrol a:hover {
	background-color:#274D58;		
} 

.clips.petrol a.playing:hover, .clips.petrol a.paused:hover, .clips.petrol a.progress:hover {
	/*background-color:transparent !important;	*/	 
}
/*}}}*/


/*{{{ low version */

.clips.low a {	
	height:31px;
}

.clips.low a.playing, .clips.low a.paused, .clips.low a.progress {
	background-image:url(/img/playlist/light_small.png);
	background-position:0 -55px;
}

.clips.low a.paused {
	background-position:0 0;	
}


/*}}}*/


/*{{{ go buttons */

a.go {
	display:block;
	width:18px;
	height:18px;
	background:url(/img/playlist/arrow/up.png) no-repeat;
	margin:5px 0 5px 105px;
	cursor:pointer;
}

a.go:hover, a.go.down:hover {
	background-position:0px -18px;		
}

a.go.down {
	background-image:url(/img/playlist/arrow/down.png);	
}

.petrol a.go {
	background-image:url(/img/playlist/arrow/up_dark.png);		
}

.petrol a.go.down {
	background-image:url(/img/playlist/arrow/down_dark.png);		
}

a.go.disabled {
	visibility:hidden;		
}

/*}}}*/

a.player {	
	display:block;
	width:500px;
	height:270px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
	border: 1px solid #999;
	background:#000;
	box-shadow:0 0 10px #999;
	margin-bottom:10px;
}
 
a.player:hover {
	background:#555;	
}
 
/* splash image */
a.player img {
	border:0;	
}
 
	a.player {
		margin-top:0px;
		width:475px;		
	}