body#home.stealth span.flex-nav-container,
body#home.stealth span.spacer,
body#home.stealth footer.main nav#footer-nav,
body#home.stealth .flex-nav-container{
	display: none !important;
	width: 0;
}
body#home.stealth #navigation nav{
	display: block;
}
body#home.stealth #navigation nav #home-logo{
	text-align: center;
	margin: 0 auto;
}
body#home.stealth #navigation nav #home-logo img{
	max-height: 10em;
}
body#home.stealth h1{
	text-align: center;
}
body#home.stealth footer.main{
	margin-top: 1em;
}
