/*header*/
img.header-img{float:left; padding:6px 6px 0 10px;}

/*nav*/
.ui-btn-active{

}
#item-np-nav a.right{width:40%; float:right;display:inline;}
#item-np-nav a.left{width:40%; float:left;display:inline;}

/* general */
.ui-content{}
.ui-btn-up-c {}
h1, h2, h3, h4, h5, strong, ul li a  {font-family: "news-gothic-std-1","news-gothic-std-2", "Arial Narrow", Helvetica, Arial, sans-serif;}

/*links*/
.ui-link{color:rgb(68,142,182);}

/*lists*/
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit,.ui-li-static.ui-li-has-thumb{min-height:60px;padding-left:100px}
p.ui-li-desc,.ui-li-heading {white-space: normal;}
.ui-li-heading{font-size:small }
#featured .ui-li-heading{margin:0 0 0.6em 0}

/*items*/
.description p{}

.files{display: block;clear:both;}

/*buttons */
a#download-app{margin-bottom:80px;clear:left; margin-top:10px;}
.ui-focus{-moz-box-shadow:0 0 12px #777777;-webkit-box-shadow:0 0 12px #777777;box-shadow:0 0 12px #777777}
	
	/*phone (iPhone, Android, Blackberry, Opera Mini, based on $phone test script)*/
	body.phone .files img,body.phone .files embed,body.phone .files object,body.phone .files audio,body.phone .files video{
  width: 100%; float:left;clear:left;margin-bottom:2em;padding:0.15em; background: #fafafa;border:1px solid #999; -webkit-box-shadow: 0 0 3px #000000; -o-box-shadow: 0 0 3px #000000;box-shadow: 0 0 3px #000000;
}
	body.phone .files p, body.phone .files h4 {}
	
	
	
	/*tablet (iPad, based on $ipad test script)*/
	body.tablet .files img, body.tablet .files embed, body.tablet .files video, body.tablet .files audio, body.tablet .files embed{
  width: 25%; float:left;clear:left;margin-bottom:2em;padding:0.15em; background: #fafafa;border:1px solid #999; -webkit-box-shadow: 0 0 3px #000000; -o-box-shadow: 0 0 3px #000000;box-shadow: 0 0 3px #000000;
}
	body.tablet .files p, body.tablet .files h4 {margin-left:30%}
	
	/*other tablet (Android, HP Touchpad, BlackBerry Playbook, etc) and browser (Fennec, Dolphin, etc) combinations that cannot be easily and effectively targeted are given the tablet-friendly view, which is still very usable on phones. Conversely, some tablets might end up being treated like phones, but again, either view is usable, if not ideal. Sorry, css media queries and user agent sniffing aren't getting the job done. Too many combinations to deal with for the time being. */
	body.other .files img, body.other .files embed, body.other .files video, body.other .files audio, body.other .files embed{
  width: 25%; float:left;clear:left;margin-bottom:2em;padding:0.15em; background: #fafafa;border:1px solid #999; -webkit-box-shadow: 0 0 3px #000000; -o-box-shadow: 0 0 3px #000000;box-shadow: 0 0 3px #000000;
		}
	body.other .files p, body.other .files h4 {margin-left:30%}


	.file{margin-top: 2em; padding-top: 2em;border-top:1px solid #ccc;}
	.files .file {width:100%; clear:both; margin-top:2em;}
	.files h4 {margin-top:0;margin-bottom:0;}
	.files p {display:block;}


/* Microformats */
.hTagcloud {margin-top:2em;}
.hTagcloud ul {list-style:none; margin-left:0; padding-left:0; line-height:1.8em;}
.hTagcloud li {display:inline;margin-right:8px;}

	.popular {font-size:100%;}
	.v-popular {font-size:140%;}
	.vv-popular {font-size:180%;}
	.vvv-popular {font-size:220%;}
	.vvvv-popular {font-size:260%;}
	.vvvvv-popular {font-size:300%;}
	.vvvvvv-popular {font-size:320%;}
	.vvvvvvv-popular {font-size:340%;}
	.vvvvvvvv-popular {font-size:360%;}

	.popular a, .popular a:visited {}
	.v-popular a, .v-popular a:visited {}
	.vv-popular a, .vv-popular a:visited {}
	.vvv-popular a, .vvv-popular a:visited {}
	.vvvv-popular a, .vvvv-popular a:visited {}
	.vvvvv-popular a, .vvvvv-popular a:visited {}
	.vvvvvv-popular a, .vvvvvv-popular a:visited {}
	.vvvvvvv-popular a, .vvvvvvv-popular a:visited {}
	.vvvvvvvv-popular a, .vvvvvvvv-popular a:visited {}
	
.ui-btn-active{border:1px solid #ccc;font-weight:bold;color:#fff;cursor:pointer;text-shadow: 0px -1px 1px #000;text-decoration:none;background-image: background-image: url(none);outline:0;background:#aaa}
.ui-btn-active a.ui-link-inherit{color:#fff}.ui-btn-inner{border-top:1px solid #fff;border-color:rgba(255,255,255,.3)}	

.ui-body-c .ui-link{} /* see custom styles in mobile header */