/* == Reset == */
@import url("reset.css");

/* == Generic styles ======== */
body {font-size:52.5%; background-color:#ffffff;color:#101011;min-width:989px; font-weight:500;font-family:  Helvetica, Arial, sans-serif;}

h1 {margin:0;}
h1 {font-size:2.2em; margin-bottom:0.666667em; line-height:1.333333em;}
h2 {font-size:1.8em; margin-bottom:1em; line-height:1em; color:#acacac;}
h3 {font-size:1.6em; margin:20px 0 6px 0; line-height:1em;}

h1, h2, h3, h4, h5 {
  font-family: "news-gothic-std-1","news-gothic-std-2","arial narrow";
}

h4 {font-size:.9em; padding:5px 0; line-height:1.2em;}

/* tooltip for audio files */
h4 span.i{
    background: none repeat scroll 0 0 #999999;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    font-style: italic;
    line-height: 0.5em;
    margin-left: 5px;
    padding: 0 5px;
}

/* Links */
a {color:#777;}
a:visited {color:#777;}
a:hover {color:#ACACAC;}
a:active {color:#ACACAC;}

h3 a, h3 a:visited,h3 a:active {text-decoration:none;}

/* Reusable classes */
.hide {text-indent: -1000em; width: 0; height: 0; overflow: hidden;}

.navigation {list-style:none; margin:0; padding:0;}
	.navigation li {display:inline;}
	.navigation a {text-decoration:none;}
	#footer .navigation li {font-size:1.5em;}
	
	

.item-pagination {overflow:hidden;width:512px; margin-bottom:1.5em;border-top:1px solid #ccc; padding-top:1.5em;}
.item-pagination li.previous {display:block;float:left; width:48%;}
.item-pagination li.next {float:right; display:block;width: 48%; text-align:right}

textarea {width:378px; height:312px;float:right;}
legend {display:none;}
fieldset {display:block; clear:both;}
label {font-size:1.5em;}
.label {font-size:1.5em;}
.inputs {overflow:hidden;zoom:1;}
.field {border-bottom:1px solid #ccc; padding:0.75em 0; overflow:hidden; width:512px;}
.field label {float:left; width: 114px;font-weight:normal;clear:left; }
.field .label {float:left; width: 114px;font-weight:normal;clear:left; }
.field .textinput, .field select {float:right; width: 378px;background:#fff;}
.field select {width: 382px;}
.field input {margin:0;margin-left:16px;}
input.submitinput {margin-top:1em;}
.radioinputs {display:block; margin-bottom:0.5em; overflow:hidden;}
.radioinputs label {display:block; float:left; width: 48%; clear:none;}
input#description {width: 378px; height: 312px;}
.search-entry select {margin-bottom:.5em;}
#primary #submit_search {margin:.5em 0;float:right;}


p {font-size:1.2em; line-height:1.33333em; margin-bottom:1.33333em;}

ul {list-style:none;font-size:1.2em; line-height:1.33333em;}
ol {list-style:lower-roman inside;font-size:1.5em; line-height:1.33333em;}

ul.items-list, ul.collections-list, ul.title-list {font-size:1em;}


.item-description, .element-text-empty {font-size:1.2em; line-height:1.33333em; margin-bottom:1.33333em;}
.item-description p, {font-size:1.2em; line-height:1.33333em; margin-bottom:1.33333em;}


.item-related-links ul li{line-height:2em;color:#777;}
.item-related-links{
    border-top: 1px solid #bbb;
    clear: none;
    display: block;
    font-size: smaller;
    max-width: 100%;
    padding: 5px 10px;
    text-align: right;
    }
.item-related-links h3{}

.title-list li {font-size:1.5em; line-height:1.33333em; margin-bottom:1.33333em;}
	
em {font-style:italic;}
.element {margin:1.25em 0;}

textarea#rights {float:none; display:none;line-height:1.33333em;width: 512px; border:none; font:1.5em "Times New Roman",Times, serif;height:31em; color:#444;padding:0; margin:0;}

div.error {font-size:1.5em; line-height:1.33333em; margin:1.33333em 0;}

/* Microformats */
.hTagcloud {margin-top:2em;}
.hTagcloud ul {list-style:none; margin-left:0; padding-left:0; line-height:1.8em;}
	.hTagcloud li {display:inline;margin-right:8px;}

	.popular {font-size:100%;}
	.v-popular {font-size:140%;}
	.vv-popular {font-size:180%;}
	.vvv-popular {font-size:220%;}
	.vvvv-popular {font-size:260%;}
	.vvvvv-popular {font-size:300%;}
	.vvvvvv-popular {font-size:320%;}
	.vvvvvvv-popular {font-size:340%;}
	.vvvvvvvv-popular {font-size:360%;}

	.popular a, .popular a:visited {color: #333;}
	.v-popular a, .v-popular a:visited {color: #555;}
	.vv-popular a, .vv-popular a:visited {color: #777;}
	.vvv-popular a, .vvv-popular a:visited {color: #777;}
	.vvvv-popular a, .vvvv-popular a:visited {color: #777;}
	.vvvvv-popular a, .vvvvv-popular a:visited {color: #999;}
	.vvvvvv-popular a, .vvvvvv-popular a:visited {color: #999;}
	.vvvvvvv-popular a, .vvvvvvv-popular a:visited {color: #999;}
	.vvvvvvvv-popular a, .vvvvvvvv-popular a:visited {color: #aaa;}

/* == Header == */

#header #site-title {margin-bottom:0; font-size:4em; margin-left:48px; padding:1em 0;}
	#header #site-title a {text-decoration:none;}
	#header {height:55px;}

/* == Content == */
#content-home {color:#f6f6f6; padding:auto; margin:10px auto 0; width:989px; height:100%; font-size:11px;}
#content {color:#f6f6f6; padding:auto; margin:10px auto 0; width:989px; height:100%; font-size:12px;}

	#search-wrap h3 {display:inline;}
	#search-wrap a {font-size:1.5em;margin-top:.25em;text-decoration:none;}
	#search-wrap {margin-bottom:2em; float:right; margin:20px 20px 0 0;}
	#submit_search {margin-left:5px;}
	#submit_search_advanced {margin-top:5px;margin-bottom:5px;}
	
	
	#primary-nav {float:left; width:auto; margin:20px 55px 0 260px;}
	#primary-nav ul {margin:0; font-size:16px; font-weight:500; line-height:1em; font-family: "news-gothic-std-1","news-gothic-std-2","arial narrow"; color:#404041;}
	#primary-nav li {display:inline; width: 246px; padding:0 10px; margin-bottom:1em;}
	#primary-nav a {display:inline; width: 246px; padding:0;}
	#primary-nav li.current a, #contribution #primary-nav li.nav-contribute-a-story-or-file a, #Tags #primary-nav li.nav-browse-contributions a, #items #primary-nav li.nav-browse-contributions a {color:#555;/*border-left:1em solid #777;*/ background: url("../images/icn-sm.png") top left no-repeat;  padding-left:1em;}
	
	#primary-nav a  {color:#555;}
	#primary-nav a:visited {color:#555;}
	#primary-nav a:hover {color:#777;}
	#primary-nav a:active {color:#777;}
	
	#primary-home {float:right; width: 720px; margin:10px 0 0 0; padding:20px; background-color:#404041;}
	#primary-home a ,#primary-home a:visited,#primary-home a:active{color:#ACACAC}
	#primary-home a:hover{color:#777}
	#primary-browse {float:left; width: 600px; margin:10px 0 0 0; padding:20px; color:#404041;}
	#primary {float:left; width: 440px; margin:28px 0 0 10px; padding:20px; color:#404041;}
	
		#secondary-nav {margin-bottom:1em; border-bottom:1px solid #ccc;margin-bottom:0;padding:0.4em 0.5em; font-size:1.5em; }
		#secondary-nav li {padding:0.5em 0;}
		#secondary-nav a {padding:0.5em 1em 0.5em; color:#666;}
		#secondary-nav .current a{}
		
		.pagination ul {text-align:left; line-height:1em; padding:0.5em; font-size:1em;}
		.pagination li {display:inline; margin-left:1em; margin-bottom:0; padding:0.5em 0;}
		.top ul {border:1px solid #ccc; border-width:0 0 1px 0;}
		.bottom ul {/*margin-top:-1.3em;*/margin-bottom:0; }
			.pagination .next {border-left:1px solid #ccc; padding-left:1em;}
			.pagination .previous {border-right:1px solid #ccc; padding-right:1em;}
	
		.browse .item {overflow:hidden; border-bottom:1px solid #ccc;padding-top:2em;}
		.browse .item-img img {width:100px; height:100px; float:left; display:block; margin-bottom:2em; margin-right:2em; padding:6px; border:1px solid #ccc;}
		.tags li {display:inline;}
		.tags a {}
		#primary-browse .tags {font-size:0.9em;}
		#primary-browse .tags a {color:#777;}
		
		#item-content img {padding:5px; border:1px solid #ccc; margin-bottom:2em;}

		#featured-item {overflow:hidden;}
		/*#featured-item img {width: 140px; height:140px; padding:8px; border:1px solid #ccc; margin-right:20px; margin-bottom:20px;float:left;}*/

		/*.items-list li {border-bottom:1px solid #ccc; margin-bottom:1.33333em;}*/
		
		.collection {border-top:1px solid #ccc;padding-top:1.33333em;}
		.collection .element {margin-bottom:0;}
		
		#itemfiles a.download-file img{float:left; margin:4px;width:90px;}
		#citation{clear:both}
		
		/* Exhibits browse */
		#exhibits .exhibit {border-top:1px solid #ccc; padding-top:2em;}
		

		
		.exhibit-section-nav {list-style:square;padding-left:20px;padding-bottom:10px;}
		.exhibit-section-nav li {font-size:1.5em;}
		.exhibit-page-nav {list-style:square;padding-left:40px;padding-bottom:10px;}
		.exhibit-page-nav li {font-size:1.5em;}
		
		
/* == Footer == */
/*
#footer {clear:both; overflow:hidden; padding-top:2em; margin-top:2em; border-top:1px solid #ccc;width: 818px;}
	#footer p {float:left; width: 180px;}
	#footer ul {float:left; width:578px; margin:0 0 0 60px;text-align:right;}
		#footer ul li {margin-left:12px;}
	*/	
		
/* == ADDED STYLES FOR CLEhistorical == */
#hm-logo {position:absolute; top:50px; margin-left:25px; z-index:1;}
#lv-logo {position:absolute; top:30px;  z-index:1;}
#hm-map {float:right; margin-right:20px; }
#col-lft {width:180px; background-color:#fff; color:#404041; height:auto; min-height:670px;float:left; vertical-align:bottom; margin-left:29px; margin-top:260px; padding:10px; /*position:absolute; bottom: 0;*/}
.hm-col {width:200px; padding:19px; float:left;}
.hm-col .date {
    color: #999999;
    font-size: 0.8em;
    margin-bottom: 5px;
}
.hm-col .date a {
    color: #999999;
    text-decoration: none;
}
.hm-col-sep {width:1px; height:auto; float:left; padding:0; margin:0;}

.hm-col p#about{font-size: 1.1em;}

#col-lft ul {padding:10px;}
#col-lft ul li{padding:5px 0; border-bottom: 1px solid #cacbcc;}
#col-lft ul li a {font-family: "news-gothic-std-1","news-gothic-std-2","arial narrow"; font-size:14px; color:#404041; text-decoration:none;}
#col-lft ul li a:hover {color:#777;}
.itemthumb img {/*max-width:192px; height:125px; overflow:hidden;*/ margin:4px 0 20px 0; border:4px solid #2e2e2e;}
.itemthumb-float img {width:150px; height:150px; overflow:hidden;  margin:4px 0 20px 0; border:4px solid #2e2e2e;}
.itemthumb-float {float:left; margin:0 20px 0 0; }

#page-col-right {
	background-color:#404041;
	color:#F6F6F6;
	width:220px;
	float:right;
	margin:100px 0;
	padding-bottom: 10px;
}

#page-col-right h3{
	color:#CECED0;
	font-size:1.4em;
	padding:6px 0;
}

#page-col-left {
	background-color:none;
	color:#404041;
	width:180px;
	float:left;
	margin:100px 30px 0;
}
#page-col-left.item {
	margin:100px 30px;
}
#page-col-left a{
	text-decoration:none;
}

#page-col-left li {
	list-style:none; text-indent:none; padding:0; margin:5px 0; font-size:1em; line-height:1.4em;
}

.element-text {
	font-size:12px;
	}

#audio-list {
	margin:20px 0;
}

#audio-list h4 span.info {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    font-family: monospace;
    padding: 0 3px;
    margin-left:2px;
}

h1.audio-caption, h1.photo-caption{background:#eaeaea;padding:1%;width:97%;text-align:center}
h2.audio-caption, h2.photo-caption{text-align:center}
p.audio-caption, p.photo-caption{font-size:14px;color:#333;}
img.photo-detail{max-width:100%;max-height:500px;float:left;padding:0 10px 5px 0;}

audio {width:200px;}

.map {border: 1px solid #999999;}
.geolocation_balloon_title, .geolocation_balloon_title a {font-family: "news-gothic-std-1","news-gothic-std-2","arial narrow"; display:block; font-size:16px; line-height:1em; margin-bottom:10px; font-weight:300; text-decoration:none;color:#555}
.geolocation_balloon_description {font-size:11px; color:#404041;}

#itemfiles {width:200px; padding:auto; margin:10px auto;}
.thumb img{/*max-width:192px; height:125px; overflow:hidden;*/ margin:4px 0 20px 0; border:4px solid #2e2e2e;}
#twit {width:auto; border:none; font-size:10px;}
#twit ul, #twit ul li {list-style:none; text-indent:none;}
#twit ul li {padding:12px 0;}
.browse {width:700px;}

.item-description{ padding-bottom:16px; margin-bottom:1.33333em;}
/* FOOTER */

div#footer{clear:both; text-align:right; font-size:11px; color:#555; vertical-align:middle; border-top:0px none transparent;background: #fff;padding:15px 10px 10px;}

div#footer a {color:#999; text-transform:none;}
div#footer a:visited {color:#999; text-transform:none;}
div#footer a:active {color:#aaa; text-transform:none;}
div#footer a:hover {color:#aaa; text-transform:underline;}

/*
#dhlogo {float:left; padding:auto; margin:20px; vertical-align:middle;}
.dhprojects {float:left; background-image: url(images/dh-greydot.gif); background-repeat:repeat-y; padding:0 10px 0 20px; margin:10px;}
#dh-csulogo {float:right; padding:auto; margin:10px 20px; }
.dhprojects ul {list-style:none; text-indent:none; padding:0; margin:0;}
.dhprojects ul li {list-style:none; text-indent:none; margin:6px 0;}
*/

.view-items-link a {text-transform:uppercase; font-size:10px; text-decoration:none;}

#app-badge { position:absolute; top:280px; margin-left:30px;}
#app-badge-about{/*badges on the about page*/}
#app-badge p.h-coming-soon{
    background: none repeat scroll 0 0 #EAEAEA;
    -moz-box-shadow: -1px 1px 3px #000000;
    -webkit-box-shadow: -1px 1px 3px #000000;
    -o-box-shadow: -1px 1px 3px #000000;
    box-shadow: -1px 1px 3px #000000;
    color: #333333;
    font-size: 1.5em;
    padding: 1px 2px;
    position: absolute;
    text-align: center;
    text-shadow: -1px 1px #FFFFFF;
    top: -12px;
    width: 190px;
}

/* Tours */

table tbody  tr.tours td{border-bottom:1px solid #ccc;}
#tour-items{
    background-color: #FFFFFF;
    color: #404041;
    height: auto;
    min-height: 500px;
    padding: 10px;
    vertical-align: bottom;
    width:100%;
    }
#tour-items div{
	padding-top:10px;
	margin-top:10px;
	border-top:1px dotted #ccc;
	padding-bottom: 300px;
	}    
#tour-items div li a{font-size:13px;color:#000;}	

#tour-items div li:nth-child(odd){background:#eaeaea;}