div#wrapper{width:100%;}
div#container{width:98%;}
div#app-badge{width:100%; padding:10px;}
div#header{width:100%; height:auto;}
div#logo {padding:1em;float:none;max-width: 100%}
div#logo img{max-width: 98%;max-height:auto;}
div#get-app{display:none; visibility:collapse hidden;}

div #content {
    background-image: none;
    background-repeat: none;
    height: auto;
    margin: 1em;
    overflow: hidden;
    width: 100%;
}

div #cols {

    float: none;
    height: auto;
    max-width: 90%;
    background: #fff;
    padding:0 1em;
    opacity: .8
}

div #col1 {
    float: none;
    height: auto;
    padding: 1em 0 1em;
    width: 100%;
	border-bottom:1px solid #ccc;
	margin:0 auto;
	opacity:1;
}

div #col2 {
    float: none;
    height: auto;
    padding: 1em 0 1em;
    width: 100%;
	border-bottom:1px solid #ccc;
	margin:0 auto;
	opacity:1;
}

div #col3 {
    float: none;
    height: auto;
    padding: 1em 0 1em;
    width: 100%;
    margin:0 auto;
    opacity:1;
}
div #footer {width:97%; height:auto;padding-bottom:1em;font-size: 0.85em;}
body{font-size: 1.1em;}
p{font-size: 1em;line-height: 1.2em;width: auto; max-width: 99%;margin:0; padding:0}
h3{font-size: 1.3em;line-height: 1.1em;}
h3.contact {font-size: 1em;line-height: 1.2em;max-width: 99%;}
h3.contact small{font-size: 0.9em;}
h3 a{font-size: 1em;}